body {
  font-family: 'Karla', sans-serif;
}

/* Quando for título, essa é a fonte */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', serif;
}

/* Estilização do botão amarelo */
button {
  background-color: #F4CE14;
  border:none;
  height: 60px;
  width: 200px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius:5px;
  white-space: nowrap;
}

/* Classe utilitária para criar o grid do figma */
.site-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 colunas */
  gap: 20px; /* mesmo gutter do figma */
  padding: 0 70px; /* margem do grid*/
  align-items: center; /* alinha verticalmente */
}

/* ************************************************************************** */
/* Header */

.header{
  height: 100px;
}

.header img{
  height:53px;
  grid-column: 4/ span 2;/* começa na coluna 2 e ocupa 2 colunas */
}

.header nav{
  grid-column: 6/ span 7;/* começa na coluna 5 e ocupa 6 colunas */
}

.header nav ul{
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header nav ul li a{
  text-decoration: none;
  color:black;
  font-weight: 600;
  white-space: nowrap;
}

/* ************************************************************************** */
/* Hero */

.hero {
  height: 350px;
  background-color: #495E57;
  margin-bottom: 150px;
}

.hero img{
  margin-top: 20px;
  grid-column: 7/ span 3;
  height: 450px;
  width: 390px;
  border-radius: 15px;
}

.hero-text {
  grid-column: 4/ span 3;
  color: white;
  margin-bottom: 150px;
  white-space: nowrap;
}

.hero-text h1 {
  color: #F4CE14;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 0;
}


.hero-text h3 {
  margin-top: 0;
  font-size: 32px;
  font-weight: lighter;
}

.hero-text p {
  font-size: 20px;
}

/* ************************************************************************** */
/* Highlights */

.highlights {
  height: 630px;
}

.highlights h2 {
  font-size: 40px;
  grid-column: 4/ span 4;
}

.highlights button {
  grid-column: 8/ span 2;
}

.highlights-cards {
  grid-column: 4/ span 6;
  display: flex;
  gap: 30px;
  justify-content: center;
}




@media (max-width: 1640px) {
.header img{
  grid-column: 3/ span 2;
}
.hero-text {
  grid-column: 3/ span 3;
}
.hero img{
  grid-column: 8/ span 3;
}
}

@media (max-width: 1200px) {
.header img{
  grid-column: 2/ span 2;
}
.header nav{
  grid-column: 5/ span 6;
}
.hero-text {
  grid-column: 2/ span 3;
}
.hero img{
  grid-column: 9/ span 3;
}
}

@media (max-width: 1000px){

}
















